@import "tailwindcss";

:root {
    --primary: #17233C;
    --secondary: #60708F;
    --accent: #E89A5B;
    --background: #F7F5F0;
    --white: #FFFFFF;
    --text: #1F2937;
    --muted: #7B8190;
    --success: #4F8A70;
    --error: #C95C5C;
    --border: #E5E7EB;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}



.filter-icon{
  color: #7B8190;
 padding-left: 60%;
  font-size: small;
  position: absolute;
  display: flex;
}

